services:
  app:
    build:
      context: .
    expose:
      - "3000"

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    depends_on:
      - app
    ports:
      - "80:80"
